$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

$tile-size  : 50px;
$yellow : rgba(yellow,0.8);

.tile {
  display: inline-block;
  height:$tile-size;
  width:$tile-size;
  border-top:solid 1px #ccc;
  border-left:solid 1px #ccc;
  border-bottom:none 0px;
  text-align:center;
  vertical-align: middle;
  line-height:$tile-size - 2px;
}
.tile:last-child {
  border-right:solid 1px #ccc;
}
div:last-child > .tile {
  border-bottom:solid 1px #ccc;
}
.tile1 {
  background:#ccc;
}

.piece {
  position: absolute;
  height: $tile-size;
  width: $tile-size;
  overflow: hidden;
  line-height: $tile-size - 2px;
  text-align: center;
  transition:transform 0.5s ease;
  border:none;
  background:transparent;
}
.piece.player1 {
  font-weight:bold;
}
.piece.player2 {
  text-shadow: 1px 1px 1px black,-1px -1px 1px black,-1px 1px 1px black,1px -1px 1px black;
  color: white;
}
.highlight {
  background:$yellow;
}

