<div class="board">
	<div piece="piece" ng-repeat="piece in pieces"></div>
	<div highlight current-piece="currentPiece"></div>
	<div ng-repeat="maprow in map track by $index">
		<div tile="{{tile}}" class="tile" ng-repeat="tile in maprow track by $index">
		</div>
	</div>
</div>
<div>
Room Id: <a href="/#/?room={{roomId}}">{{roomId}}</a> <br>
Player {{match.turn}}'s turn.
</div>
